.searchUserContainer {
  /* border: 2px solid yellow; */
  margin-top: 8rem;
}

.userContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
