.card-skeleton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--third);
  border-radius: 1.5rem;
  width: 15rem;
  height: 15rem;
  padding: 3rem;
  margin: 10rem;
}
.card-skeleton-info {
  width: 20%;
  padding: 2rem;
  background-color: var(--third);
  border-radius: 2rem;
}

.card-skeleton-repo {
  width: 60%;
  margin-top: 1rem;
  padding: 2rem;
  background-color: var(--third);
  border-radius: 2rem;
}

.card-skeleton_user {
  margin: 0.5rem;
}
.card-skeleton_name {
  flex: 1;
}

.loading-skeleton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10rem;
}
