:root {
  --first: #5b42f3;
  --second: #ec40ff;
  --third: #151515;
  --fourth: #191322;
  --background: #211937;
  --gray-primary: #353434;
  --gray-secondary: #acacac;
  --gray-tertiary: #a2a2a2;
  --black: #252525;
  --white: #ffffff;
  --red: #ba2929;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
